fastapi
uvicorn[standard]
motor
pymongo
passlib[bcrypt]
PyJWT
pydantic
pydantic-settings
python-dotenv
python-multipart
slowapi
python-jose[cryptography]
bcrypt
redis
aiocache
aiosmtplib>=3.0.1
gunicorn
